@font-face {
  font-family: myFirstFont;
  src: url('./font/Palm\ Leaf\ Demo.ttf');
}

@font-face {
  font-family: 'mySecondFont';
  src: url('./Font/HelveticaRoundedLT-Bold.otf');
}


body {
  margin: 0;
  padding: 0;
  font-family: 'mySecondFont';
  background: url("images/imageFond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#bird {
  position: absolute;
  left: -200px;
  top: 100px;
  width: 177px;
  height: 160px;
  transform: scaleX(-1);
  animation: none;
  transition: none;
  z-index: 10;
}



@keyframes flyWave {
  0%   { left: -200px; top: 100px; }
  25%  { top: 60px; }
  50%  { top: 100px; }
  75%  { top: 140px; }
  100% { left: 100vw; top: 100px; }
}



#styleQuizz {
  background-color: #fffdf5;
  border: 3px solid #6b4226;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 650px;
  width: 90%;
  margin-top: 1rem;
}
#styleQuizz h1,
#nouvellePage h1 {
  font-family: myFirstFont;
  font-size: 3.5rem;
  font-weight: lighter;
  color: #6a994e;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

h4 {
  font-size: 2rem;
  color: #6a994e;
  text-align: center;
  margin-bottom: 1.5rem;
}

#questions {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
}


#reponse {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.bouton {
  background-color: #a9d6e5;
  border: none;
  border-radius: 25px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
  font-family: 'mySecondFont';
}

#timer {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
}

.bouton:hover {
  background-color: #6a994e;
  color: white;
}

#submit {
  display: block;
  margin: 1rem auto; /* Centrage horizontal */
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #6a994e;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'mySecondFont';
}

#submit:hover {
  background-color: #588157;
}


#nouvellePage {
  display: none;
  background-color: #fffdf5;
  border: 3px solid #6b4226;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 90%;
  margin-top: 2rem;
  text-align: center;
}

#rejouer {
  padding: 0.8rem 1.5rem;
  background-color: #f2c57c;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'mySecondFont';
}

#rejouer:hover {
  background-color: #f29e4c;
  color: white;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#styleQuizz {
  animation: fadeInUp 0.6s ease forwards;
}


